* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.judul {
  text-align: center;
  margin: 30px;
}

.container .card {
  width: 200px;
  height: 200px;
  margin: 30px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.container .card .link-web a {
  text-decoration: none;
}
.container .card .link-web a:hover {
  color: blue;
}

.card .gambar img {
  width: 200px;
  height: 100px;
  padding: 0 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
